{% extends 'blog/base.html' %}
{% block content %}
    <div class="col-sm-10">
        <h3 class="text-white my-5">About Page</h3>
        <div class="jumbotron jumbotron-fluid jumbo-color">
          <div class="container">
            <h1 class="display-4 font-weight-bold">This is Blog Title</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad animi at culpa debitis doloribus ea eaque illum impedit ipsum magni minima molestiae molestias odit possimus quae quasi, qui quidem repellendus reprehenderit sint tenetur, ut velit. Aliquid aperiam deserunt dolorem doloribus possimus quis quo repudiandae. Blanditiis dolorem doloribus praesentium provident.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores, cum, eos explicabo facere harum laborum magnam, neque quos recusandae sed sint voluptas. Minima obcaecati optio, porro quia rerum vitae voluptatum. Distinctio facere repellat voluptatibus. Accusamus ad alias aliquam amet animi, consequatur eligendi eos et id molestias placeat reprehenderit, similique!</p>
          </div>
        </div>
    </div>
{% endblock content %}